﻿<%@ Page Language="C#" Inherits="encrypt.Default" %>
<!DOCTYPE html>
<html>
<head runat="server">
	<title>Default</title>
</head>
<body>
		<form id="form1" runat="server">
			<p>
			Encode: <asp:Label id="lblText" Text="" runat="server" />
			</p>
			<p>
			Decode: <asp:Label id="lblText2" Text="" runat="server" />
			</p>
		</form>
</body>
</html>
